body{
    /* background-color: purple; */
}

#container{
    /* background-color: grey; */
    margin: 0 auto;
    width: 360px;
    border: 1px solid gray;
}

.completed{
    color: gray;
    text-decoration: line-through;
}
